<div id="message-popup">
    <button id="message-popup-close">X</button>
    <div class="message">
        <img src="/{{ directory }}/images/logo-blanco.svg" class="logo home" alt="Global Rheumaatology"/>
        {{ drupal_field('body', 'node', '233') }}
    </div>
</div>