<div id="message-popup">
    <button id="message-popup-close">X</button>
    <div class="message">
        <img src="/{{ directory }}/images/logo-blanco.svg" class="logo home" alt="Global Rheumaatology" height="130" />
        <p><strong>Bienvenido a Global Rheumatology by PANLAR.</strong></p>
        <p>Somos una revista científica digital que presenta una nueva plataforma de publicación y difusión del conocimiento en Reumatología.</p>
    </div>
</div>