<div id="main" class="user-form user-profile">

    <div class="tab-user">
        <ul class="option">
            <li class="login">
                <i class="icon icon-login"></i>
                <a href="/user/login">{% trans%} Iniciar sesión {% endtrans%}</a>
            </li>
            <hr>
            <li class="register">
                <i class="icon icon-register"></i>
                <a href="/user/register">{% trans%} Registrarse {% endtrans%}</a>
            </li>
            <hr>
            <li class="password active">
                <i class="icon icon-pwd"></i>
                <a href="/user/password">{% trans%} Recuperar Contraseña {% endtrans%}</a>
            </li>
        </ul>
    </div>

    <div class="container user" id="form-password">
        <div class="block-title">
            <h3>{% trans%} Recuperar Contraseña {% endtrans%}</h3>
        </div>
        <div class="profile">
              <dd> {{ pass_form }}</dd>
        </div>
    </div><!-- /.container -->    

    <!--<div class="container">
        <div class="last_news">  
            <div class="block-title">
                <h3>{% trans%} Last articles {% endtrans%}</h3>
            </div>
            <dd>}</dd>
        </div>
    </div> /.container -->

</div>