// List styles
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.right{
    ul{
        list-style: disc;
        padding: 0 0 0 40px;
    }
}

dl {
  margin: 0;
}

dt {
  font-weight: 600;
  margin: 0;
}

dd {
  margin: 0;
}
