.filter-wrapper.js-form-wrapper.form-wrapper {
    display: none;
}

#edit-field-resumen-abstract-0-top--RjB9SmAupW4 .paragraphs-actions {
    display: none;
}

#edit-field-correspondencia-0-top .paragraphs-actions {
    display: none;
}

#edit-field-anexos-0-top--4UgholJoI5Q .paragraphs-actions #field-anexos-0-collapse--EZ_-D6TJgYw {
    display: none;
}

.form-item--error-message {
    color: red;
}

.filter-wrapper.js-form-wrapper.form-wrapper {
    display: none;
}

.block-printfriendly {
    float: left;
    line-height: 16px;
    padding: 0 2px;
}

audio#talkify-audio {
    display: none;
}

.block-ngt-license {
    color: #fff;
}

.block-ngt-license h3{
    font-weight: 700;
    font-size: 20px;
}
.block-ngt-license p{
    font-size: 14px;
    font-style: italic;
}
.block-ngt-license .block-license{
    margin: 30px 0px;
}