main#info-article{
    >h2{
        font: {
            size: 18px;
        }
        text-align: center;
        padding: 20px;
        background: #f4f4f4;
        margin: 0;
    }
    .list-type{
        .search{
            input[type="search"]{
                margin: 15px auto;
                width: calc(100% - 40px);
                height: 40px;
                padding: 0 15px;
                border: 2px solid $accent-blue;
                border-radius: 20px;
                font-size: 14px;
            }
        }
        .option{
            padding: 20px;
            background: $primary-color;
            ul{
                display: flex;
                justify-content: space-between;
                @media only screen and ($tablet){
                    justify-content: center;
                }
                li{
                    width: calc(50% - 10px);
                    height: 50px;
                    padding: 10px;
                    border: 2px solid #fff;
                    border-radius: 6px;
                    display: flex;
                    @media only screen and ($tablet){
                        width: 200px;
                        height: 70px;
                        margin: 0 10px;
                        cursor: pointer;
                    }
                    img{
                        width: 30px;
                        margin: 0 10px 0 0;
                        -webkit-filter: invert(1);
                        filter: invert(1);
                        @media only screen and ($tablet){
                            width: 50px;
                        }
                    }
                    h2{
                        font: {
                            size: 14px;
                        }
                        line-height: 28px;
                        color: #fff;
                        @media only screen and ($tablet){
                            font: {
                                size: 21px;
                            }
                            line-height: 48px;
                        }
                    }
                    &.active{
                        background: #fff;
                        img{
                            -webkit-filter: invert(0);
                            filter: invert(0);
                        }
                        h2{
                            color: $accent-blue;
                        }
                    }
                }
            }
        }
        .box-type{
            padding: 20px;
            @media only screen and ($tablet){
                background: #f4f4f4;
            }
            .article, .magazine{
                display: none;
                ul{
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    @media only screen and ($tablet){
                        justify-content: center;
                        max-width: 1000px;
                        margin: 0 auto;
                    }
                    .target{
                        width: calc(50% - 10px);
                        margin: 20px 0;
                        @media only screen and ($tablet){
                            width: calc(33.3% - 30px);
                            padding: 30px 20px;
                            border-radius: 10px;
                            margin: 20px 15px;
                            cursor: pointer;
                            background: #fff;
                            -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
                            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
                            -webkit-transition: all 0.2s linear;
                            transition: all 0.2s linear;
                        }
                        img{
                            display: block;
                            width: 70px;
                            margin: 0 auto 10px;
                            @media only screen and ($tablet){
                                width: 120px;
                                margin: 0 auto 20px;
                            }
                        }
                        h3{
                            width: 100px;
                            margin: 0 auto;
                            font: {
                                size: 16px;
                            }
                            text-align: center;
                            color: $primary-color;
                            @media only screen and ($tablet){
                                width: auto;
                                font: {
                                    size: 18px;
                                }
                            }
                        }
                        &:hover{
                            -webkit-box-shadow: 0 4px 8px rgba(26, 85, 165, 0.36);
                            box-shadow: 0 4px 8px rgba(26, 85, 165, 0.36);
                        }
                    }
                }
                &.active{
                    display: block;
                }
            }
            &.revision{
                background: #f4f4f4;
                padding: 20px 15px;
                .tg {
                    background: #fff;
                    border-radius: 10px;
                    margin: 0 0 15px;
                    box-shadow: 0 10px 20px #c3c8dc;
                    tbody{
                        tr{
                            border: 0;
                            border-bottom: 1px solid #e1e1ef;
                            td{
                                padding: 10px;
                                border: 0;
                                border-right: 1px dashed #e1e1ef;
                                font: {
                                    size: 12px;
                                }
                                &:last-child{
                                    border-right: 0;
                                }
                            }
                            &:last-child{
                                border: 0;
                            }
                            &.tg-nrix{
                                a{
                                    padding: 10px;
                                    border-radius: 6px;
                                    background: #f0f9fe;
                                    color: $accent-blue;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .live-box{
        position: fixed;
        top: 100px;
        right: 0;
        left: 0;
        margin: auto;
        width: 90%;
        height: calc(100vh - 160px);
        padding: 20px;
        border-radius: 4px;
        background: #fff;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
        -webkit-transform: scale(0);
        transform: scale(0);
        transform-origin: center;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all 0.15s linear;
        transition: all 0.15s linear;
        z-index: 11;
        @media only screen and ($tablet){
            top: 180px;
            width: 620px;
            height: calc(100vh - 260px);
            padding: 40px;
        }
        .close{
            position: absolute;
            top: 10px;
            right: 10px;
            height: 30px;
            background: {
                image: url(../../images/icon-cerrar.svg);
                size: 30px;
                position: center;
                repeat: no-repeat;
                color: transparent;
            }
            font-size: 0;
        }
        .data{
            margin: 0 0 20px;
            h2{
                font: {
                    size: 21px;
                }
                color: $primary-color;
                text-align: center;
            }
            .info{
                height: calc(100vh - 300px);
                overflow: auto;
                @media only screen and ($tablet){
                    height: calc(100vh - 430px);
                }
                p{
                    font: {
                        size: 14px;
                    }
                    line-height: 1.3em;
                    color: #666;
                }
            }
        }
        .link{
            display: block;
            margin: 0 auto;
            width: 100px;
            height: 34px;
            border-radius: 6px;
            background: $primary-color;
            font: {
                weight: 700;
                size: 14px;
            }
            line-height: 34px;
            color: #fff;
            text-align: center;
        }
        &.active{
            -webkit-transform: scale(1);
            transform: scale(1);
            opacity: 1;
            visibility: visible;
        }
    }
}