.last_news{
    background: #F8F8F8;
    padding: 0 0 40px;
    @media only screen and ($desktop){
        padding: 0 0 80px;
    }
    .top{
        @media only screen and ($desktop){
            display: flex;
            justify-content: space-between;
            width: 1200px;
            margin: 0 auto;
        }
        .left{
            .block-title{
                @media only screen and ($desktop){
                    padding: 60px 15px 15px;
                }
                h3{
                    &:after{
                        @media only screen and ($desktop){
                            width: calc(50vw - 510px);
                            margin: 20px 0 20px calc(550px - 50vw);
                        }
                    }
                }
            }
        }
        .right{
            display: flex;
            justify-content: space-between;
            padding: 0 15px 30px;
            @media only screen and ($tablet){
                margin: 0 auto;
                width: 440px;
            }
            @media only screen and ($desktop){
                width: auto;
                padding: 100px 0 0;
                margin: 0 40px 0 0;
            }
            span{
                width: calc(50% - 10px);
                height: 30px;
                border-bottom: 2px solid #ddd;
                font: {
                    size: 16px;
                }
                line-height: 30px;
                color: #666;
                text-align: center;
                -webkkit-transition: all 0.15s linear;
                transition: all 0.15s linear;
                @media only screen and ($tablet){
                    font: {
                        size: 18px;
                    }
                    line-height: 26px;
                    border-bottom: 3px solid #ddd;
                    cursor: pointer;
                }
                @media only screen and ($desktop){
                    width: auto;
                    font: {
                        size: 22px;
                    }
                }
                &.active{
                    border-color: $accent-blue;
                    color: #000;
                }
            }
            hr{
                margin: 0;
                width: 1px;
                height: 30px;
                background: #ddd;
                @media only screen and ($desktop){
                    margin: 0 40px;
                }
            }
        }
    }
    .bottom{
        position: relative;
        background: #f8f8f8;
        overflow: hidden;
        .view_news{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            z-index: -1;
            @media only screen and ($tablet){
                padding: 0 40px;
            }
            @media only screen and ($desktop){
                width: 1014px;
                margin: 0 auto;
                padding: 0;
            }
            .views-element-container{
                @media only screen and ($desktop){
                    width: 1020px;
                    margin: 0 auto;
                }
                .owl-carousel{
                    .owl-stage-outer{
                        @media only screen and ($desktop){
                            padding: 10px;
                        }
                    }
                    .owl-item{
                        .item-news{
                            position: relative;
                            margin: 0 0 20px;
                            opacity: 0.3;
                            -webkit-transition: all 0.15s linear;
                            transition: all 0.15s linear;
                            @media only screen and ($desktop){
                                opacity: 1;
                            }
                            .text{
                                padding: 25px 20px 30px;
                                @media only screen and ($tablet){
                                    padding: 25px 35px 30px;
                                }
                                .save{
                                    display: none;
                                }
                                .title{
                                    @media only screen and ($tablet){
                                        min-height: 110px;
                                    }
                                }
                                .sumary{
                                    @media only screen and ($tablet){
                                        min-height: 70px;
                                    }
                                }
                            }
                        }
                        &.center{
                            .item-news{
                                background: #fff;
                                opacity: 1;
                                -webkit-box-shadow: $sombra;
                                box-shadow: $sombra;
                                .text{
                                    .save{
                                        display: block;
                                    }
                                }
                            }
                        }
                        &:hover{
                            .item-news{
                                @media only screen and ($desktop){
                                    background: #fff;
                                    -webkit-box-shadow: $sombra;
                                    box-shadow: $sombra;
                                }
                                .save{
                                    @media only screen and ($desktop){
                                        display: block;
                                        cursor: pointer;
                                    }
                                }
                            }
                        }
                    }
                    .owl-nav{
                        div{
                            &.owl-prev{
                                @media only screen and ($tablet){
                                    left: 25px;
                                }
                                @media only screen and ($desktop){
                                    left: -75px;
                                }
                            }
                            &.owl-next{
                                @media only screen and ($tablet){
                                    right: 25px;
                                }
                                @media only screen and ($desktop){
                                    right: -75px;
                                }
                            }
                        }
                    }
                }
            }
            &.active{
                position: relative;
                z-index: 1;
            }
        }
    }
}