<div class="item-news manuscrito">
    <div class="text">
        <div class="block last-mod">
          <label>Creado:</label>
          <span class="date">{{ fields.created.content }}</span>
        </div>
        <div class="block last-mod">
            <label>Última modificación:</label>
            <span class="date">{{ fields.changed.content }}</span>
        </div>
        <div class="block status">
            <label>Estado actual:</label>
            <span class="date">{{ fields.field_estado_del_articulo.content }}</span>
        </div>
    </div>
</div>