<div class="address">
    <span>{{content.field_correo}}</span>
    <span>{{content.field_direccion_correspondencia}}</span>
    <span>{{content.field_nombre_completo}}</span>
    <span>{{content.field_telefono_contacto}}</span>
</div>