<main id="info-article">
    <h2>Mis accesos</h2>
    <div class="list-type">
        <div class="box-type">
            <div class="article active">
                <ul>
                    <li class="target">
                        <a href="/">
                            <img src="/themes/custom/basic/images/access/pagina-de-inicio.svg" alt="" title="" width="100">
                            <h3>Ir al inicio</h3>
                        </a>
                    </li>
                    <li class="target">
                        <a href="/admin/structure/entityqueue/articulos_cientificos/articulos_cientificos">
                            <img src="/themes/custom/basic/images/access/cientifico.svg" alt="" title="" width="100">
                            <h3>Mostrar Art. Científicos</h3>
                        </a>
                    </li>
                    <li class="target">
                        <a href="/admin/structure/taxonomy/manage/secciones/overview">
                            <img src="/themes/custom/basic/images/access/categoria.svg" alt="" title="" width="100">
                            <h3>Agregar secciones</h3>
                        </a>
                    </li>
                    <li class="target">
                        <a href="/admin/structure/taxonomy/manage/tags/overview">
                            <img src="/themes/custom/basic/images/access/etiqueta-seo.svg" alt="" title="" width="100">
                            <h3>Agregar palabras claves</h3>
                        </a>
                    </li>
                    

                    <li class="target">
                        <a href="/admin/manuscritos/list">
                            <img src="/themes/custom/basic/images/access/revision.svg" alt="" title="" width="100">
                            <h3>Revisiones en curso</h3>
                        </a>
                    </li>

                    <li class="target">
                        <a href="/admin/manuscritos/list/review">
                            <img src="/themes/custom/basic/images/access/revision.svg" alt="" title="" width="100">
                            <h3>Mis revisiones</h3>
                        </a>
                    </li>

                   
                    <li class="target">
                        <a href="/admin/manuscritos/author">
                            <img src="/themes/custom/basic/images/access/enviar-articulos.svg" alt="" title="" width="100">
                            <h3>Artículos enviados</h3>
                        </a>
                    </li>
                    <li class="target">
                        <a href="/new/type/manuscrito">
                            <img src="/themes/custom/basic/images/access/enviar-articulos.svg" alt="" title="" width="100">
                            <h3>Enviar artículos</h3>
                        </a>
                    </li>
                </ul>
            </div>
        </div>    
    </div>
</main>