<main id="form-node-manuscrito">
    <div>
        <h2> {{ "Calificar artículo"|t }} </h2>
        <p> {{ "Califique de 1 al 5, siendo 1 la más baja y 5 la mayor"|t }} </p>
    </div>
    {{ markup }}
</main>

<script>
    $("#edit-title-0-value").prop('disabled', true);
    $("#edit-field-articulo-en-revision-0-target-id").prop('disabled', true);
    $("#edit-title-0-value").val(new Date().getTime());
    $("#edit-field-articulo-en-revision-0-target-id").val('{{ revision }}');
    $("#edit-submit").click(function() {
        $("#edit-title-0-value").prop('disabled', false);
        $("#edit-field-articulo-en-revision-0-target-id").prop('disabled', false);
    });
</script>