<main id="form-node-manuscrito">
    <h2> {{ "Asignar revisor"|t }} </h2>
    <p> {{ "Editor, recuerde que el proceso de asignación de revisor debe ser uno a uno, es decir podrá continuar asignando revisores una vez culmine la asignación en curso."|t }} </p>
    {{ markup }}
</main>

<script>
    $("#edit-title-0-value").prop('disabled', true);
    $("#edit-field-articulo-en-revision-0-target-id").prop('disabled', true);
    $("#edit-field-revisor-acepto-revision-value").prop('disabled', true);
    $("#edit-field-revisor-rechazo-revision-value").prop('disabled', true);
    $("#edit-title-0-value").val(new Date().getTime());
    $("#edit-field-articulo-en-revision-0-target-id").val('{{ revision }}');
    $("#edit-submit").click(function() {
        $("#edit-title-0-value").prop('disabled', false);
        $("#edit-field-articulo-en-revision-0-target-id").prop('disabled', false);
        $("#edit-field-revisor-acepto-revision-value").prop('disabled', false);
        $("#edit-field-revisor-rechazo-revision-value").prop('disabled', false);
    });
</script>