<main id="form-node-manuscrito">
    <h2> {{ "Assign Reviewer"|t }} </h2>
    <p> {{ "Editor, remember that the reviewer assignment process must be one by one, that is, you can continue assigning reviewers once the assignment in progress is complete."|t }} </p>
    {{ markup }}
</main>

<script>
    $("#edit-title-0-value").prop('disabled', true);
    $("#edit-field-articulo-en-revision-0-target-id").prop('disabled', true);
    $("#edit-field-revisor-acepto-revision-value").prop('disabled', true);
    $("#edit-field-revisor-rechazo-revision-value").prop('disabled', true);
    $("#edit-title-0-value").val(new Date().getTime());
    $("#edit-field-articulo-en-revision-0-target-id").val('{{ revision }}');
    $("#edit-submit").click(function() {
        $("#edit-title-0-value").prop('disabled', false);
        $("#edit-field-articulo-en-revision-0-target-id").prop('disabled', false);
        $("#edit-field-revisor-acepto-revision-value").prop('disabled', false);
        $("#edit-field-revisor-rechazo-revision-value").prop('disabled', false);
    });
</script>