<main id="info-article">
    <h2> {{ title }} </h2>
    <div class="list-type">

        <div class="box-type">           
            <div class="article active">
                <ul>
                    <li class="target" style="width: calc(73.3% - 30px);">
                        {{ body|raw }}
                        <h3>
                            <a href="/">{{ 'Home'|t }}</a>
                        </h3>
                    </li>                  
                </ul>
            </div>
        </div>    
    </div>
</main>