<main id="form-node-manuscrito">
    {{ markup }}
</main>


<script>
    $("#edit-title-0-value").prop('disabled', true);
    $("#edit-field-articulo-en-revision-0-target-id").prop('disabled', true);
    $("#edit-title-0-value").val(new Date().getTime());
    $("#edit-field-articulo-en-revision-0-target-id").val('{{ revision }}');
    $("#edit-submit").click(function() {
        $("#edit-title-0-value").prop('disabled', false);
        $("#edit-field-articulo-en-revision-0-target-id").prop('disabled', false);
    });
</script>