<div class="main taxonommy tags article-type">
     <div class="block-title">
        <h1>{{ name|t }}</h1>
    </div>
    <div class="container destacada">
        <div class="">
            {{ drupal_view('articulos_tipo', 'block_1', type) }}
        </div>
    </div>
    <div class="container infinite-contents">
      <div class="">
        {{ drupal_view('articulos_tipo', 'block_2', type) }}
      </div>
    </div>
</div>