<main id="info-article">
    <h2>Buscar artículos por:</h2>
    <div class="list-type">
        <div class="option">
            <ul>
                <li class="target active" id="name">
                    <img src="/themes/custom/basic/images/article_tipo/articulo.svg" width="100">
                    <h2>Nombre</h2>
                </li>
                <li class="target" id="autor">
                    <img src="/themes/custom/basic/images/article_tipo/autor.svg" width="100">
                    <h2>Autor</h2>
                </li>
                <li class="target" id="tipo">
                    <img src="/themes/custom/basic/images/article_tipo/contenido.svg" width="100">
                    <h2>Tipo</h2>
                </li>
            </ul>
        </div>

        <div class="box-type">
            <div class="article name active">
                <div class="input">
                    <form action="/search/content/by/type" method="get">
                        <input type="search" name="name" id="name-input" placeholder="Nombre del artículo">
                        <input type="submit" value="Buscar">
                    </form>
                </div>
                <div class="search-result">
                    <div class="no-result">
                        <p>No hay resultados para la búsqueda.</p>
                    </div>
                    <div class="result">
                        <div class="item-news last-article home">
                            <div class="text">
                                <span class="category"><a href="/secciones/32/infografia" hreflang="es">Infografía </a></span>
                                <div class="save no" data-id="71" data-session="authentificate">
                                <a href="#" class="node_saved">Guardar</a>
                                </div>
                                <h3 class="title"><a href="/infografias/cdc-en-chikungunya-71" hreflang="es">CDC en Chikungunya</a></h3>
                                <p class="sumary">Detalle de Infografía:Sunt irure ullamco irure excepteur minim elit adipisicing laborum occaecat irure ea.</p>
                                <div class="info">
                                    <span class="author"><a href="/authenticated/1/admin-panlar" hreflang="es">Admin</a> <a href="/authenticated/1/admin-panlar" hreflang="es">Panlar</a></span>
                                    <date>Mayo 2019</date>
                                </div>
                                <div class="explorer"><a href="/infografias/cdc-en-chikungunya-71">Ver más</a></div>
                            </div>
                        </div>
                        <div class="item-news last-article home">
                            <div class="text">
                                <span class="category"><a href="/secciones/32/infografia" hreflang="es">Infografía </a></span>
                                <div class="save no" data-id="71" data-session="authentificate">
                                <a href="#" class="node_saved">Guardar</a>
                                </div>
                                <h3 class="title"><a href="/infografias/cdc-en-chikungunya-71" hreflang="es">CDC en Chikungunya</a></h3>
                                <p class="sumary">Detalle de Infografía:Sunt irure ullamco irure excepteur minim elit adipisicing laborum occaecat irure ea.</p>
                                <div class="info">
                                    <span class="author"><a href="/authenticated/1/admin-panlar" hreflang="es">Admin</a> <a href="/authenticated/1/admin-panlar" hreflang="es">Panlar</a></span>
                                    <date>Mayo 2019</date>
                                </div>
                                <div class="explorer"><a href="/infografias/cdc-en-chikungunya-71">Ver más</a></div>
                            </div>
                        </div>
                        <div class="item-news last-article home">
                            <div class="text">
                                <span class="category"><a href="/secciones/32/infografia" hreflang="es">Infografía </a></span>
                                <div class="save no" data-id="71" data-session="authentificate">
                                <a href="#" class="node_saved">Guardar</a>
                                </div>
                                <h3 class="title"><a href="/infografias/cdc-en-chikungunya-71" hreflang="es">CDC en Chikungunya</a></h3>
                                <p class="sumary">Detalle de Infografía:Sunt irure ullamco irure excepteur minim elit adipisicing laborum occaecat irure ea.</p>
                                <div class="info">
                                    <span class="author"><a href="/authenticated/1/admin-panlar" hreflang="es">Admin</a> <a href="/authenticated/1/admin-panlar" hreflang="es">Panlar</a></span>
                                    <date>Mayo 2019</date>
                                </div>
                                <div class="explorer"><a href="/infografias/cdc-en-chikungunya-71">Ver más</a></div>
                            </div>
                        </div>
                        <div class="item-news last-article home">
                            <div class="text">
                                <span class="category"><a href="/secciones/32/infografia" hreflang="es">Infografía </a></span>
                                <div class="save no" data-id="71" data-session="authentificate">
                                <a href="#" class="node_saved">Guardar</a>
                                </div>
                                <h3 class="title"><a href="/infografias/cdc-en-chikungunya-71" hreflang="es">CDC en Chikungunya</a></h3>
                                <p class="sumary">Detalle de Infografía:Sunt irure ullamco irure excepteur minim elit adipisicing laborum occaecat irure ea.</p>
                                <div class="info">
                                    <span class="author"><a href="/authenticated/1/admin-panlar" hreflang="es">Admin</a> <a href="/authenticated/1/admin-panlar" hreflang="es">Panlar</a></span>
                                    <date>Mayo 2019</date>
                                </div>
                                <div class="explorer"><a href="/infografias/cdc-en-chikungunya-71">Ver más</a></div>
                            </div>
                        </div>
                        <div class="item-news last-article home">
                            <div class="text">
                                <span class="category"><a href="/secciones/32/infografia" hreflang="es">Infografía </a></span>
                                <div class="save no" data-id="71" data-session="authentificate">
                                <a href="#" class="node_saved">Guardar</a>
                                </div>
                                <h3 class="title"><a href="/infografias/cdc-en-chikungunya-71" hreflang="es">CDC en Chikungunya</a></h3>
                                <p class="sumary">Detalle de Infografía:Sunt irure ullamco irure excepteur minim elit adipisicing laborum occaecat irure ea.</p>
                                <div class="info">
                                    <span class="author"><a href="/authenticated/1/admin-panlar" hreflang="es">Admin</a> <a href="/authenticated/1/admin-panlar" hreflang="es">Panlar</a></span>
                                    <date>Mayo 2019</date>
                                </div>
                                <div class="explorer"><a href="/infografias/cdc-en-chikungunya-71">Ver más</a></div>
                            </div>
                        </div>
                        <div class="item-news last-article home">
                            <div class="text">
                                <span class="category"><a href="/secciones/32/infografia" hreflang="es">Infografía </a></span>
                                <div class="save no" data-id="71" data-session="authentificate">
                                <a href="#" class="node_saved">Guardar</a>
                                </div>
                                <h3 class="title"><a href="/infografias/cdc-en-chikungunya-71" hreflang="es">CDC en Chikungunya</a></h3>
                                <p class="sumary">Detalle de Infografía:Sunt irure ullamco irure excepteur minim elit adipisicing laborum occaecat irure ea.</p>
                                <div class="info">
                                    <span class="author"><a href="/authenticated/1/admin-panlar" hreflang="es">Admin</a> <a href="/authenticated/1/admin-panlar" hreflang="es">Panlar</a></span>
                                    <date>Mayo 2019</date>
                                </div>
                                <div class="explorer"><a href="/infografias/cdc-en-chikungunya-71">Ver más</a></div>
                            </div>
                        </div>
                        <div class="item-news last-article home">
                            <div class="text">
                                <span class="category"><a href="/secciones/32/infografia" hreflang="es">Infografía </a></span>
                                <div class="save no" data-id="71" data-session="authentificate">
                                <a href="#" class="node_saved">Guardar</a>
                                </div>
                                <h3 class="title"><a href="/infografias/cdc-en-chikungunya-71" hreflang="es">CDC en Chikungunya</a></h3>
                                <p class="sumary">Detalle de Infografía:Sunt irure ullamco irure excepteur minim elit adipisicing laborum occaecat irure ea.</p>
                                <div class="info">
                                    <span class="author"><a href="/authenticated/1/admin-panlar" hreflang="es">Admin</a> <a href="/authenticated/1/admin-panlar" hreflang="es">Panlar</a></span>
                                    <date>Mayo 2019</date>
                                </div>
                                <div class="explorer"><a href="/infografias/cdc-en-chikungunya-71">Ver más</a></div>
                            </div>
                        </div>
                        <div class="item-news last-article home">
                            <div class="text">
                                <span class="category"><a href="/secciones/32/infografia" hreflang="es">Infografía </a></span>
                                <div class="save no" data-id="71" data-session="authentificate">
                                <a href="#" class="node_saved">Guardar</a>
                                </div>
                                <h3 class="title"><a href="/infografias/cdc-en-chikungunya-71" hreflang="es">CDC en Chikungunya</a></h3>
                                <p class="sumary">Detalle de Infografía:Sunt irure ullamco irure excepteur minim elit adipisicing laborum occaecat irure ea.</p>
                                <div class="info">
                                    <span class="author"><a href="/authenticated/1/admin-panlar" hreflang="es">Admin</a> <a href="/authenticated/1/admin-panlar" hreflang="es">Panlar</a></span>
                                    <date>Mayo 2019</date>
                                </div>
                                <div class="explorer"><a href="/infografias/cdc-en-chikungunya-71">Ver más</a></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="article autor">
                <div class="input">
                    <form action="/search/content/by/type" method="get">
                        <select name="autor" id="autor-input">
                            {% for user in users %}
                                <option value="{{ user.uid }}">{{ user.name }}</option>
                            {% endfor %}
                        </select>
                        <input type="submit" value="Buscar">
                    </form>
                </div>
                <div class="search result">
                    {% if autor is not null %}
                        
                    {% endif %}
                </div>
            </div>

            <div class="article tipo">
                <div class="input">
                    <form action="/search/content/by/type" method="get">
                        <select name="tipo" id="tipo-input">
                            <option value="article">Artículo</option>
                            <option value="infografias">Infografías</option>
                            <option value="microlearning">Microlearning</option>
                            <option value="podcast">Podcast</option>
                            <option value="videos">Videos</option>
                            <option value="articulo_cientifico">Articulo cientifico</option>
                            <option value="manuscrito_articulo_revision">Artículo de Revisión</option>
                            <option value="manuscrito_articulo_especial">Artículo especial</option>
                            <option value="manuscrito_articulo_original">Artículo original</option>
                            <option value="manuscrito_ciencia_panlar">Ciencia Panlar</option>
                            <option value="manuscrito_columnas">Columnas</option>
                            <option value="manuscrito_comentarios_respues">Comentarios y Respuestas	</option>
                            <option value="manuscrito_editorial">Editorial</option>
                            <option value="manuscrito_mini_revision">Mini Revisión</option>
                            <option value="manuscrito_multimedia">Multimedia</option>
                            <option value="manuscrito_noticia">Noticia</option>
                            <option value="manuscrito_reportajes_especiales">Reportajes Especiales	</option>
                            <option value="manuscrito_rondas_clinicas">Rondas Clínicas</option>
                        </select>
                        <input type="submit" value="Buscar">
                    </form>
                </div>
                <div class="search result">
                {{ dump(data) }}
                    {% if tipo is not null %}
                        {{ dump(tipo) }}
                    {% endif %}
                </div>
            </div>
        </div>    
    </div>
</main>